
<div class="row row-cols-1 row-cols-md-2 g-2" style="padding:14px;" >
    <div class="col">
      <div class="card" >
        <img  src="../assets/bottle1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aesthetic Clear Glass Bottle</h5>
          <p class="card-text">Transparent Cute water bottle, Back to school Drinking bottle,water bottle, FREE SHIPPING.</p>
          
          <p class="card-text"><small class="text-muted">R350</small></p>
          <button class="btn btn-success btn-lg float-right  my-2 my-sm-0" type="submit">View</button>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img  style="width:272px; height: 341px;" src="../../assets/bottle2.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">le creuset hydration bottle shell</h5>
          <p class="card-text">Stay hydrated and save the planet with the Le Creuset Hydration Bottle. 
            This chic water bottle is made from food-grade stainless steel with a tight-fitting lid that prevents leaks and spills. 
            This handy 500ml bottle keeps your water or drinks cold for up to 24 hours and hot for up to 12hours</p>
          <p class="card-text"><small class="text-muted">R250</small></p>
          
            <button class="btn btn-success btn-lg float-right  my-2 my-sm-0" type="submit">View</button>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" >
        <img  style="height: 341px;" src="../../assets/bottle3.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">le creuset hydration bottle shell</h5>
          <p class="card-text">Stay hydrated and save the planet with the Le Creuset Hydration Bottle. 
            This chic water bottle is made from food-grade stainless steel with a tight-fitting lid that prevents leaks and spills. 
            This handy 500ml bottle keeps your water or drinks cold for up to 24 hours and hot for up to 12hours
            .</p>
            <p class="card-text"><small class="text-muted">R300</small>
          <button class="btn btn-success btn-lg float-right  my-2 my-sm-0" type="submit">View</button>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" >
        <img  style="height: 341px;" src="../../assets/bottle4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Silicone Unbreakable Water Bottle  </h5>
          <p class="card-text">With Motivational Time Marker, 1 Litres.</p>
          <p class="card-text"><small class="text-muted">R500</small></p>
          <button class="btn btn-success btn-lg float-right  my-2 my-sm-0" type="submit">View</button>
        </div>
      </div>
    </div>

    <div class="col ">
      <div class="card">
        <img  style="height: 341px;" src="../../assets/bottle5.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
          <p class="card-text"><small class="text-muted">R250</small></p>
          <button class="btn btn-success btn-lg float-right  my-2 my-sm-0" type="submit">View</button>
        </div>
      </div>
    </div>

    <div class="col">
    <div class="card" >
      <img  style="height: 341px;" src="../../assets/bottle6.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Aesthetic Clear Glass Bottle</h5>
        <p class="card-text">Transparent Cute water bottle, Back to school Drinking bottle,water bottle, FREE SHIPPING</p>
        
        <p class="card-text"><small class="text-muted">R300</small></p>
        <button class="btn btn-success btn-lg float-right  my-2 my-sm-0" type="submit">View</button>
      </div>
    </div>
  </div>

  <div class="col ">
      <div class="card" >
        <img  style="height: 341px;" src="../../assets/bottle7.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
          <p class="card-text"><small class="text-muted">R490</small></p>
          <button class="btn btn-success btn-lg float-right  my-2 my-sm-0" type="submit">View</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" >
        <img  style="height: 341px;" src="../../assets/bottle8.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">HANDHELD RUNNING WATER BOTTLE (500ML)</h5>
          <p class="card-text">A 500ml lightweight running bottle made from semi-translucent BPA free plastic with a leak-proof screw top lid. 
            Fist grip design makes these water bottles perfect for jogging or long-distance races. 
            Choose from blue or pink caps.</p>
          <p class="card-text"><small class="text-muted">R156.90</small></p>
          
          <button class="btn btn-success btn-lg float-right  my-2 my-sm-0" type="submit">View</button>
        </div>
      </div>
    </div>

    <div class="col ">
      <div class="card" >
        <img  style="height: 341px;" src="../../assets/bottle9.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">R280</small></p>
          
          <button class="btn btn-success btn-lg float-right  my-2 my-sm-0" type="submit">View</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" >
        <img  style="height: 341px;" src="../../assets/bottle10.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
          <p class="card-text"><small class="text-muted">R320</small></p>
          <button class="btn btn-success btn-lg float-right  my-2 my-sm-0" type="submit">View</button>
        </div>
      </div>
    </div>








  