<!-- Nav tabs -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="#" style="background-color: rgb(168, 115, 50);">MY STORE:
    everything water bottle.
  </a>
  
    
 
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Items</a>
      </li>
      
    </ul>

  </div>
  <form style="padding-right: 15px;" class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <!-- <button class="btn btn-success btn-lg float-right  postion-relative my-2 my-sm-0" type="submit">cart -->


  <!-- </button> -->
  <button type="button" class="btn btn-primary position-relative">
   
    Cart
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      0
      <span class="visually-hidden">Items</span>
    </span>
  </button>

</nav>
<script>
  $('#navId a').click(e => {
    e.preventDefault();
    $(this).tab('show');
  });
</script>

<style scoped="">
  .button {
      font-size: 70%;
      text-align: right;
  }

  
</style>